@{
    ViewBag.Title = "NominaAPP - INICIO";

}

<div class="jumbotron" style="text-align:center">
    <h1 style="color:#00DDFF;  font-weight:bold">Sistema de Nómina Apec</h1>
    <p class="lead" style="color:#0F9390">Lleve el control de los registros de sueldos de sus empleados.</p>
    <img src="~/Images/Nomina(256px).png" alt="Nomina" style="align-content:center"/>
</div>

<div class="jumbotron" style="text-align:center">
    <h3 class="col-lg-10" style="color:gray; text-align:justify; margin-left:170px">
        Sistema de Nómina Apec Es una alternativa segura y eficiente para realizar dispersiones a cuentas propias y de otros bancos.
        Evita el manejo de efectivo en las instalaciones de la empresa y reduce costos, riesgos y tiempos por traslado de valores.
        La transmisión de archivos se realiza desde internet, con esto se evita el traslado a la sucursal para realizar la transmisión del archivo.
    </h3>
</div>
